<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generate Embeddings</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <div class="navbar">
        <h1>Flipkart Grid Robotics Challenge: Team Red</h1>
    </div>
    <div class="navbar">
        <div class="nav-buttons">
            <a href="/">Product Info</a>
            <a href="/generate-embeddings">Generate Embeddings</a>
            <a href="/fruits-vegetables">Fruits & Vegetables</a>
            <a href="/data">Data</a>
        </div>
    </div>
    <div class="container">
        <h1>Data</h1>
    </div>
</body>
</html>
