<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Frame-by-Frame Video Processing</title>
    <link rel="stylesheet" href="/static/styles.css">
  </head>
  <body>
    <div class="navbar">
      <h1>Flipkart Grid Robotics Challenge: Team Red</h1>
    </div>
    <div class="navbar">
      <div class="nav-buttons">
        <a href="/">Product Info</a>
        <a href="/generate-embeddings">Generate Embeddings</a>
        <a href="/fruits-vegetables">Fruits & Vegetables</a>
        <a href="/data">Data</a>
      </div>
    </div>
    <div class="container">
      <h1>Product Info</h1>
    </div>
    <form
      id="upload-form"
      method="POST"
      enctype="multipart/form-data"
      action="/upload"
    >
      <input type="file" name="video" accept="video/*" required />
      <button type="submit">Upload Video</button>
    </form>
    <div id="video-container" style="margin-top: 20px; display: none">
      <h2>Live Processed Video Feed</h2>
      <img id="video-feed" style="width: 600px; height: auto" />
    </div>
    <script>
      const form = document.getElementById("upload-form");
      const videoContainer = document.getElementById("video-container");
      const videoFeed = document.getElementById("video-feed");

      form.addEventListener("submit", async (e) => {
        e.preventDefault();
        const formData = new FormData(form);
        const response = await fetch("/upload", {
          method: "POST",
          body: formData,
        });

        if (response.ok) {
          const filename = formData.get("video").name;
          videoContainer.style.display = "block";
          videoFeed.src = `/video_feed/${filename}`;
        } else {
          alert("Failed to upload video.");
        }
      });
    </script>
  </body>
</html>
